<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="libiao.libiaodemo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".android.ui.video.VideoActivity"/>
        <activity android:name=".android.activity.DeviceInfoActivity"/>
        <activity android:name=".android.ui.listview.ListViewActivity"/>
        <activity android:name=".android.ui.recyclerview.RecyclerViewActivity"/>
        <activity android:name=".android.ui.UIActivity"/>
        <activity android:name=".android.ui.danmu.DanmuTestActivity"/>
        <activity android:name=".android.ui.danmu.DanmuActivity"/>
        <activity android:name=".android.fresco.FrescoTestActivity"/>
        <activity android:name=".android.glide.GlideTestActivity"/>
        <activity android:name=".android.ui.video.videoeditor.VideoSelectActivity"/>
        <activity android:name=".android.ui.video.videoeditor.VideoEditorActivity"/>
        <activity android:name=".android.ui.constraint.ConstraintActivity"/>
        <activity android:name=".android.ui.touchevent.EventActivity"/>
        <activity android:name=".flutter.FlutterTestActivity"/>
        <meta-data
            android:name="libiao.libiaodemo.android.ui.recyclerview.LBGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>